.luncheon-login-1, body {
    background-image: url("../images/zdrave_jedlo_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.luncheon-login-1 .login-form {
    padding-top: 70px;
    padding-left: 80px;
}

.luncheon-login-2, body {
    background-image: url("../images/zdrave_jedlo_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.luncheon-login-2 .login-form {
    padding-top: 70px;
    padding-left: 80px;
}

.luncheon-login-3, body {
    background-image: url("../images/zdrave_jedlo_3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.luncheon-login-3 .login-form {
    padding-top: 70px;
    padding-left: 80px;
}

.luncheon-login-4, body {
    background-image: url("../images/zdrave_jedlo_4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.luncheon-login-4 .login-form {
    padding-top: 70px;
    padding-left: 80px;
}

