@media print {

    tr:nth-child(even) td {
        background-color: lightgray !important;
        -webkit-print-color-adjust: exact;
    }
    td {
        font-size: 16px;
        size: 10px;
    }
    th {
        font-size: 16px;
        size: 10px;
    }

    p {
        font-size: 16px;
        size: 10px;
    }

    h4 {
        font-weight: bold;
    }

    blockquote {
        font-size: 12px;
        size: 12px;
        height: 15px;
    }

    .fifth-day {
        page-break-before: always;
    }

}