#pricing-table .disabled {
    position: relative;
    padding: 8px 20px;
    margin: 20px 0 0 0;
    color: #fff;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    background-color: red;
    background-image: -moz-linear-gradient(red, lightcoral);
    background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(lightcoral));
    background-image: -webkit-linear-gradient(red, lightcoral);
    background-image: -o-linear-gradient(red, lightcoral);
    background-image: -ms-linear-gradient(red, lightcoral);
    background-image: linear-gradient(red, lightcoral);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
    pointer-events: none;
    cursor: default;
}

#pricing-table {
    margin: 100px auto;
    text-align: center;
    width: 502px; /* total computed width = 302 x 4 + 306 */
}

.selected-lunch {
    background: #ffc400;
    font-weight: bold;
}

.first-meal {
    border-top: 100px solid black;
    /*padding: 10px 0;*/
}

#pricing-table .plan {
    font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
    text-shadow: 0 1px rgba(255,255,255,.8);
    background: #fff;
    border: 1px solid #ddd;
    color: #333;
    padding: 20px;
    width: 460px; /* plan width = 460 + 20 + 20 + 1 + 1 = 222px */
    float: left;
    position: relative;
}

#pricing-table-two .disabled {
    position: relative;
    padding: 8px 20px;
    margin: 20px 0 0 0;
    color: #fff;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    background-color: red;
    background-image: -moz-linear-gradient(red, lightcoral);
    background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(lightcoral));
    background-image: -webkit-linear-gradient(red, lightcoral);
    background-image: -o-linear-gradient(red, lightcoral);
    background-image: -ms-linear-gradient(red, lightcoral);
    background-image: linear-gradient(red, lightcoral);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
    pointer-events: none;
    cursor: default;
}

#pricing-table-two {
    margin: 100px auto;
    text-align: center;
    width: 1008px; /* total computed width = 502 x 1 + 506 */
}

#pricing-table-two .plan {
    font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
    text-shadow: 0 1px rgba(255,255,255,.8);
    background: #fff;
    border: 1px solid #ddd;
    color: #333;
    padding: 20px;
    width: 460px; /* plan width = 460 + 20 + 20 + 1 + 1 = 502px */
    float: left;
    position: relative;
}

.navbar-luncheon {
    background-color: #ddd;
    font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
    text-shadow: 0 1px rgba(255,255,255,.8);
    border: 1px solid #ddd;
    color: #333;
}
